<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Data Transfer App</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <!-- Bootstrap Jumbotron -->
    <div class="jumbotron">
        <h1 class="display-4">Data Transfer App</h1>
        <p class="lead">Transfer data between databases using this simple app.</p>
    </div>

    <!-- Bootstrap Form -->
    <form method="POST" action="{{ url_for('transfer_data') }}">
        <div class="form-group">
            <label for="source_db">Source Database</label>
            <select class="form-control" id="source_db" name="source_db">
                <option value="mysql">MySQL</option>
                <option value="oracle">Oracle</option>
                <option value="postgres">PostgreSQL</option>
            </select>
        </div>

        <div class="form-group">
            <label for="destination_db">Destination Database</label>
            <select class="form-control" id="destination_db" name="destination_db">
                <option value="snowflake">Snowflake</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Transfer Data</button>
    </form>

    {% if status %}
    <!-- Display transfer status only -->
    <div class="alert alert-info mt-3">
        {{ status }}
    </div>
    {% endif %}
</div>

<!-- Add Bootstrap JS and Popper.js scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
